sourceDir = "/home/{{.chezmoi.username}}/dotfiles"
pager = "bat"

{{- $chassis_type := "desktop" }}
{{- if eq .chezmoi.os "darwin" }}
{{-   if contains "MacBook" (output "system_profiler" "SPHardwareDataType") }}
{{-     $chassis_type = "laptop" }}
{{-   else }}
{{-     $chassis_type = "desktop" }}
{{-   end }}
{{- else if eq .chezmoi.os "linux" }}
{{-   $chassis_type = (output "hostnamectl" "--json=short" | mustFromJson).Chassis }}
{{- else if eq .chezmoi.os "windows" }}
{{-   $chassis_type = (output "powershell.exe" "-NoProfile" "-NonInteractive" "-Command" "if ((Get-CimInstance -Class Win32_Battery | Measure-Object).Count -gt 0) { Write-Output 'laptop' } else { Write-Output 'desktop' }") | trim }}
{{- end }}

{{ $dot_version := promptStringOnce . "dot_version" "Which dotfiles version to use" "new" -}}
{{- $color_scheme_choice := list "patroclus" -}}
{{ $color_scheme := promptChoiceOnce . "color_scheme" "What color scheme to use" $color_scheme_choice "patroclus" -}}

[data]
  dot_version = {{ $dot_version | quote }}
  chassis_type = {{ $chassis_type | quote }}


[data.colors]
  # some colors that are not defined
  white = "#ffffff"
  {{- $color_pallet := (includeTemplate (print $color_scheme ".yaml") | fromYaml).colors }}
  {{- range $key, $val := $color_pallet }}
  {{ $key }} = {{ $val | quote }}
  {{- end }}