sourceDir = "/home/{{.chezmoi.username}}/dotfiles"
pager = "delta"

{{- $codespaces:= env "CODESPACES" | not | not -}}

{{- $chassis_type := "desktop" }}
{{- if eq .chezmoi.os "darwin" }}
{{-   if contains "MacBook" (output "system_profiler" "SPHardwareDataType") }}
{{-     $chassis_type = "laptop" }}
{{-   else }}
{{-     $chassis_type = "desktop" }}
{{-   end }}
{{- else if eq .chezmoi.os "linux" }}
{{-   $chassis_type = (output "hostnamectl" "--json=short" | mustFromJson).Chassis }}
{{- else if eq .chezmoi.os "windows" }}
{{-   $chassis_type = (output "powershell.exe" "-NoProfile" "-NonInteractive" "-Command" "if ((Get-CimInstance -Class Win32_Battery | Measure-Object).Count -gt 0) { Write-Output 'laptop' } else { Write-Output 'desktop' }") | trim }}
{{- end }}

{{- $color_scheme := promptStringOnce . "color_scheme" "What color scheme to use" "patroclus" -}}
{{- $color_palette := (includeTemplate (print $color_scheme ".yaml") | fromYaml).colors }}

[data]
  dot_version = {{ promptStringOnce . "dot_version" "Which dotfiles version to use" "new" | quote }}
  wm = "niri"
  chassis_type = {{ $chassis_type | quote }}
  codespaces = {{ $codespaces }}
  color_scheme = {{ $color_scheme | quote}}

[data.colors]
  # some colors that are not defined
  white = "#ffffff"
  black = "#000000"
  {{- range $key, $val := $color_palette }}
    {{ $key }} = {{ $val | quote }}
  {{- end }}
