! ██╗░░██╗██████╗░███████╗███████╗░██████╗░██╗░░░██╗██████╗░░██████╗███████╗███████╗
! ╚██╗██╔╝██╔══██╗██╔════╝██╔════╝██╔═══██╗██║░░░██║██╔══██╗██╔════╝██╔════╝██╔════╝
! ░╚███╔╝░██████╔╝█████╗░░███████╗██║░░░██║██║░░░██║██████╔╝██║░░░░░█████╗░░███████╗
! ░██╔██╗░██╔══██╗██╔══╝░░╚════██║██║░░░██║██║░░░██║██╔══██╗██║░░░░░██╔══╝░░╚════██║
! ██╔╝░██╗██║░░██║███████╗███████║╚██████╔╝╚██████╔╝██║░░██║╚██████╗███████╗███████║
! ╚═╝░░╚═╝╚═╝░░╚═╝╚══════╝╚══════╝░╚═════╝░░╚═════╝░╚═╝░░╚═╝░╚═════╝╚══════╝╚══════╝
!
! -----------------------------------

Xft.antialias: true
Xft.hinting: true
Xft.rgba: rgb
Xft.autialias: false
Xft.hintstyle: hintfull
Xft.lcdfilter: lcddefault

Xcursor.theme: phinger-cursors-dark
Xcursor.size: 24

*background:	{{ .colors.base }}
*foreground:	{{ .colors.text }}
*cursorColor:	{{ .colors.yellow }}
*color0:	{{ .colors.surface0 }}
*color1:	{{ .colors.red }}
*color2:	{{ .colors.green }}
*color3:	{{ .colors.yellow }}
*color4:	{{ .colors.blue }}
*color5:	{{ .colors.mauve }}
*color6:	{{ .colors.blue }}
*color7:	{{ .colors.subtext1 }}
*color8:	{{ .colors.overlay1 }}
*color9:	{{ .colors.bright_red }}
*color10:	{{ .colors.bright_green }}
*color11:	{{ .colors.bright_yellow }}
*color12:	{{ .colors.bright_blue }}
*color13:	{{ .colors.bright_magenta }}
*color14:	{{ .colors.bright_cyan }}
*color15:	{{ .colors.bright_white }}