{{- $wm := .wm -}}
{{- $primary := (index .monitors 0).output -}}
{{- $secondary := "" -}}
{{- if gt (len .monitors) 1 -}}
{{-   $secondary = (index .monitors 1).output -}}
{{- end -}}
[
{{- if $secondary }}
{
    "layer": "bottom",
    "position": "top",
    "mod": "dock",
    "output": ["{{ $primary }}"],
    "include": [
        "~/.config/waybar/default-modules.json"
    ],
    "exclusive": true,
    "gtk-layer-shell": true,
    "margin-bottom": 2,
    "margin-left": 10,
    "margin-right": 10,
    "spacing": 5,
    "passthrough": false,
    "height": 32,
    "modules-left": [
        "custom/os_button"
    ],
    "modules-center": [
        "{{ $wm }}/workspaces"
    ],
    "modules-right": [
        "cpu",
        "temperature",
        "memory",
        "disk",
        "wireplumber",
        "network",
        "battery",
        "clock"
    ]
},
{
    "layer": "bottom",
    "position": "top",
    "mod": "dock",
    "output": ["{{ $secondary }}"],
    "include": [
        "~/.config/waybar/default-modules.json"
    ],
    "exclusive": true,
    "gtk-layer-shell": true,
    "margin-bottom": 2,
    "margin-left": 10,
    "margin-right": 10,
    "spacing": 5,
    "passthrough": false,
    "height": 32,
    "modules-left": [
        "custom/os_button",
        "mpris"
    ],
    "modules-center": [
        "{{ $wm }}/workspaces"
    ],
    "modules-right": [
        "idle_inhibitor",
        "custom/dunst",
        "custom/writeback",
        "user",
        "tray",
        "wireplumber",
        "clock"
    ]
}
{{- else }}
{
    "layer": "bottom",
    "position": "top",
    "mod": "dock",
{{- if $primary }}
    "output": ["{{ $primary }}"],
{{- end }}
    "include": [
        "~/.config/waybar/default-modules.json"
    ],
    "exclusive": true,
    "gtk-layer-shell": true,
    "margin-bottom": 2,
    "margin-left": 10,
    "margin-right": 10,
    "spacing": 5,
    "passthrough": false,
    "height": 32,
    "modules-left": [
        "custom/os_button",
        "user",
        "idle_inhibitor",
        "custom/dunst",
        "custom/writeback",
        "mpris"
    ],
    "modules-center": [
        "{{ $wm }}/workspaces"
    ],
    "modules-right": [
        "tray",
        "cpu",
        "temperature",
        "memory",
        "disk",
        "wireplumber",
        "network",
        "battery",
        "clock"
    ]
}
{{- end }}
]
