{
    "hyprland/workspaces": {
        "format": "{name}",
        "icon-size": 32,
        "spacing": 16,
        "on-scroll-up": "hyprctl dispatch 'hl.dsp.focus({ workspace = \"r+1\" })'",
        "on-scroll-down": "hyprctl dispatch 'hl.dsp.focus({ workspace = \"r-1\" })'"
    },
    "custom/os_button": {
        "format": "",
        "on-click": "{{ if eq .wm "hyprland" }}rofi -show drun{{ else }}fuzzel{{ end }}",
        "tooltip": false
    },
    "user": {
        "format": "{user} (up {work_d}d {work_H}h)",
        "interval": 60,
        "height": 30,
        "width": 30,
        "icon": true
    },
    "cpu": {
        "interval": 1,
        "format": "  {usage}%",
        "max-length": 10
    },
    "temperature": {
        {{- if .hwmon_path }}
        "hwmon-path-abs": "{{ .hwmon_path }}",
        "input-filename": "temp1_input",
        {{- else}}
        "thermal-zone": 0,
        {{- end}}
        "interval": 3,
        "critical-threshold": 75,
        "tooltip": false,
        "format-critical": "({temperatureC}°C)",
        "format": "({temperatureC}°C)"
    },
    "disk": {
        "interval": 30,
        "format": "󰋊 {percentage_used}%",
        "path": "/",
        "tooltip": true,
        "unit": "GB",
        "tooltip-format": "Available {free} of {total}"
    },
    "memory": {
        "interval": 5,
        "format": "  {percentage}%",
        "max-length": 10,
        "tooltip": true,
        "tooltip-format": "RAM - {used:0.2f}GiB used\nSWP - {swapUsed:0.2f}GiB used"
    },
    "tray": {
        "icon-size": 18,
        "spacing": 3
    },
    "clock": {
        "format": "      {:%R\n %d.%m.%Y}",
        "tooltip-format": "<tt><small>{calendar}</small></tt>",
        "calendar": {
            "mode": "year",
            "mode-mon-col": 3,
            "weeks-pos": "right",
            "on-scroll": 1,
            "on-click-right": "mode",
            "format": {
                "months": "<span color='#ffead3'><b>{}</b></span>",
                "days": "<span color='#ecc6d9'><b>{}</b></span>",
                "weeks": "<span color='#99ffdd'><b>W{}</b></span>",
                "weekdays": "<span color='#ffcc66'><b>{}</b></span>",
                "today": "<span color='#ff6699'><b><u>{}</u></b></span>"
            }
        },
        "actions": {
            "on-click-right": "mode",
            "on-click-forward": "tz_up",
            "on-click-backward": "tz_down",
            "on-scroll-up": "shift_up",
            "on-scroll-down": "shift_down"
        }
    },
    "network": {
        "tooltip-format": "{ifname} via {gwaddr}",
        "format-wifi": "{essid} {icon}",
        "format-ethernet": "  ",
        "format-disconnected": "󰌙",
        "format-icons": [
            "󰤯 ",
            "󰤟 ",
            "󰤢 ",
            "󰤢 ",
            "󰤨 "
        ]
    },
    "battery": {
        "states": {
            "good": 95,
            "warning": 30,
            "critical": 20
        },
        "format": "{icon} {capacity}%",
        "format-charging": "  {capacity}%",
        "format-plugged": "  {capacity}%",
        "format-alt": "{time} {icon}",
        "format-icons": [
            "󰂎",
            "󰁺",
            "󰁻",
            "󰁼",
            "󰁽",
            "󰁾",
            "󰁿",
            "󰂀",
            "󰂁",
            "󰂂",
            "󰁹"
        ]
    },
    "wireplumber": {
        "format": "{volume}%",
        "format-muted": "silence",
        "on-click": "wpctl set-mute @DEFAULT_AUDIO_SINK@ toggle",
        "max-volume": 100,
        "scroll-step": 5
    },
    {{- if eq .chassis_type "desktop" }}
    "mpris": {
        "format": "{status_icon} {dynamic}",
        "format-paused": "{status_icon} <i>{dynamic}</i>",
        "status-icons": {
            "paused": "⏸"
        },
        "dynamic-order": ["title", "artist"]
    },
    {{- else }}
    "mpris": {
      "format": "{player_icon}",
      "format-paused": "{status_icon} <i>{player_icon}</i>",
      "tooltip": true,
      "tooltip-format": "{player}: {artist} - {title} ({position}/{length})",
      "player-icons": {
          "default": "🎵 ",
          "spotify": "  ",
          "firefox": "  ",
          "mpv": "🎬  "
      },
      "status-icons": {
          "paused": "⏸ "
      }
    },
    {{- end }}
    "idle_inhibitor": {
        "format": "{icon} ",
        "format-icons": {
            "activated": "",
            "deactivated": ""
        }
    },
    "custom/dunst": {
        "format": "{}",
        "exec": "notifi --daemon",
        "on-click": "dunstctl set-paused toggle",
        "on-click-middle": "dunstctl history-clear",
        "on-click-right": "dunstctl history-pop",
        "return-type": "json"
    },
    "custom/writeback": {
        "format": "󰾆 {}",
        "exec": "writeback --daemon --min-mb 50",
        "tooltip": false
    }
}
