# ==============================================================================
# ZATHURA CONFIGURATION
# ==============================================================================

# --- General Settings ---------------------------------------------------------
set selection-clipboard      "clipboard"
set database                 "sqlite"
set statusbar-home-tilde     "true"
set adjust-open              "best-fit"
set render-loading           "false"
set scroll-step              50

# --- Interface Colors ---------------------------------------------------------
set font                     "Iosevka Aile 10"

# Main Window
set default-bg               "{{ .colors.base }}"
set default-fg               "{{ .colors.text }}"

# Statusbar
set statusbar-bg             "{{ .colors.surface0 }}"
set statusbar-fg             "{{ .colors.subtext0 }}"

# Inputbar
set inputbar-bg              "{{ .colors.mantle }}"
set inputbar-fg              "{{ .colors.bright_white }}"

# Completion Menu
set completion-bg            "{{ .colors.surface0 }}"
set completion-fg            "{{ .colors.text }}"
set completion-highlight-bg  "{{ .colors.selection }}"
set completion-highlight-fg  "{{ .colors.bright_white }}"

# Notifications
set notification-bg          "{{ .colors.surface0 }}"
set notification-fg          "{{ .colors.success }}"
set notification-error-bg    "{{ .colors.maroon }}"
set notification-error-fg    "{{ .colors.bright_white }}"
set notification-warning-bg  "{{ .colors.surface0 }}"
set notification-warning-fg  "{{ .colors.warning }}"

# --- PDF Recolor (Dark Mode) -------------------------------------------------
set recolor                  "false"
set recolor-keephue          "true"
set recolor-reverse-video    "true"
set recolor-darkcolor        "{{ .colors.text }}"
set recolor-lightcolor       "{{ .colors.base }}"

# --- Keybindings -------------------------------------------------------------
map i recolor
