general {
  hide_cursor = true
}

background {
    monitor =
    path = ~/onedrive/wallpapers/arasaka.png
    color = rgba({{ .colors.base | replace "#" "" }}ff)  # Full opacity
    blur_passes = 2
}

# DATE
label {
  monitor =
  text = cmd[update:1000] echo "$(date +"%A, %B %d")"
  color = rgba({{ .colors.cyber_yellow | replace "#" "" }}e6)  # 90% opacity
  font_size = 22
  font_family = Play
  position = 0, 300
  halign = center
  valign = center
}

# TIME
label {
  monitor = 
  text = $TIME
  color = rgba({{ .colors.cyber_yellow | replace "#" "" }}ff)  # Full opacity
  font_size = 95
  font_family = Play
  position = 0, 200
  halign = center
  valign = center
}

# INPUT FIELD
input-field {
    monitor =
    size = 20%, 5%
    outline_thickness = 0
    dots_text_format = *
    dots_size = 0.75
    dots_spacing = 0.25
    inner_color = rgba({{ .colors.surface0 | replace "#" "" }}4d)  # 30% opacity
    font_color = rgba({{ .colors.cyber_yellow | replace "#" "" }}ff)     # Full opacity
    fail_text = <span weight="bold">ACCESS DENIED</span>
    fail_color = rgba({{ .colors.error | replace "#" "" }}ff)      # Full opacity
    placeholder_text = 
}

label {
  monitor = 
  text = cmd[update:10000] echo "- $(whoami | sha1sum)"
  color = rgba({{ .colors.cyber_yellow | replace "#" "" }}bf)  # 75% opacity
  font_size = 25
  font_family = Play
  position = 0, -200
  halign = center
  valign = center
}

label {
  monitor = 
  text = cmd[update:1000] echo "- $(date | b2sum)"
  color = rgba({{ .colors.cyber_yellow | replace "#" "" }}bf)  # 75% opacity
  font_size = 25
  font_family = Play
  position = 0, -45%
  halign = center
  valign = center
}
