general {
  hide_cursor = true
  fail_timeout = 1000
}

background {
    monitor =
    path = ~/onedrive/wallpapers/redspiderlily.png
    color = rgba({{ .colors.base | replace "#" "" }}ff)  # Full opacity
    blur_passes = 2
}

# DATE
label {
  monitor =
  text = cmd[update:1000] echo "$(date "+%F %T %z")"
  color = rgba({{ .colors.cyber_red | replace "#" "" }}80)
  font_size = 22
  font_family = Monaspace Krypton Var
  position = 2%, 4%
  halign = left 
  valign = left 
}

# TIME
# label {
#   monitor = 
#   text = $TIME
#   color = rgba({{ .colors.cyber_red | replace "#" "" }}80)
#   font_size = 22
#   font_family = Monaspace Krypton Var
#   position = 4%, 5%
#   halign = left
#   valign = left
# }

# INPUT FIELD
input-field {
    monitor =
    size = 20%, 5%
    outline_thickness = 0
    dots_text_format = *
    dots_size = 0.75
    dots_spacing = 0.25
    inner_color = rgba({{ .colors.surface0 | replace "#" "" }}1A)
    font_color = rgba({{ .colors.cyber_red | replace "#" "" }}cc)
    fail_text = <span weight="bold">ACCESS DENIED</span>
    fail_color = rgba({{ .colors.error | replace "#" "" }}ff)      # Full opacity
    placeholder_text = 
}

